<div style="display:block;text-align:left">
	
	
	<div style="display:block;text-align:left">
		<a href="https://sites.google.com/a/itp.nyu.edu/shop/machines/3d-printers/lulzbot-taz-b/TAZ_6_Angle_Main_Product_Page.png?attredirects=0" imageanchor="1"><img border="0" src="https://sites.google.com/a/itp.nyu.edu/shop/machines/3d-printers/lulzbot-taz-b/TAZ_6_Angle_Main_Product_Page.png"></a>
	</div>


	
	
	<div>
		
		
		
		<div>
			
			
			<h1>Sign Up</h1>
			
			
			<ul><li><a href="https://sites.google.com/a/itp.nyu.edu/shop/machines/3d-printers/lulzbot-taz-b#" style="background-color:transparent;font-size:large" target="_blank"><font color="#073763">Time Slot for Lulzbot Taz B</font></a></li>
				<li>30 min slots.</li>
				<li>9AM to 12PM daily</li>
				<li><font color="#990000">If you need to cancel your slot, please DELETE the event from your own Google Calendar instead of declining it.</font></li></ul>
				
				
				<div>
					<font color="#990000"><br>
					</font>
				</div>
			</div>
		</div>
		
		
		<div>
			<h1>Features &amp; Specifications</h1>
			<div>
				<div style="font-size:13.3333px">
					<ul>
						<li><b>Print Technology:</b>&nbsp;Fused Deposition Molding</li>
						<li><b>Build Volume:</b>&nbsp; 280mm x 280mm x 250mm (11.02in x 11.02in x 9.8in)</li>
						<li><b>Print X-Y Tolerance: </b>0.1 mm (0.0039in)</li>
						<li><b>Layer Thickness:</b>&nbsp;0.05mm - 0.5mm (0.002in - 0.02in)</li>
						<li><b>Software:&nbsp;</b><font color="#073763"><a href="https://www.lulzbot.com/content/downloads" target="_blank">Cura LulzBot Edition (PC, Mac, Linux)</a></font>&nbsp;&nbsp;</li></ul>
					</div>
				</div>
				<div><font color="#990000"><br>
				</font>
			</div>
		</div>

		<div>
			<h1>Features &amp; Specifications</h1>
			<div>
				<div style="font-size:13.3333px">
					<ul>
						<li><b>Print Technology:</b>&nbsp;Fused Deposition Molding</li>
						<li><b>Build Volume:</b>&nbsp; 280mm x 280mm x 250mm (11.02in x 11.02in x 9.8in)</li>
						<li><b>Print X-Y Tolerance: </b>0.1 mm (0.0039in)</li>
						<li><b>Layer Thickness:</b>&nbsp;0.05mm - 0.5mm (0.002in - 0.02in)</li>
						<li><b>Software:&nbsp;</b><font color="#073763"><a href="https://www.lulzbot.com/content/downloads" target="_blank">Cura LulzBot Edition (PC, Mac, Linux)</a></font>&nbsp;&nbsp;</li></ul>
					</div>
				</div>
				<div><font color="#990000"><br>
				</font>
			</div>
		</div>
	</div>
	<br>
